[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://rospypi.github.io/simple"
verify_ssl = true
name = "ros"

[packages]
arrow = "*"
requests = "*"
typing_extensions = "*"

[dev-packages]
black = "*"
build = "*"
faker = "*"
flake8 = "*"
mcap = "==1.1.0"
mcap-ros1-support = "==0.7.0"
mcap-protobuf-support = "==0.3.0"
mcap-ros2-support = "==0.5.0"
pyright = "*"
pytest = "*"
responses = "*"
std_msgs = {version="*", index="ros"}

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
install_search_all_sources = true
