[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://rospypi.github.io/simple"
verify_ssl = true
name = "ros"

[packages]
arrow = "*"
requests = "*"
typing_extensions = "*"

[dev-packages]
black = "*"
build = "*"
faker = "*"
mcap = "*"
mcap-protobuf-support = "*"
mcap-ros1-support = "*"
pyright = "*"
pytest = "*"
responses = "*"
rosbag = {version="*", index="ros"}
std_msgs = {version="*", index="ros"}

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
