[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://rospypi.github.io/simple"
verify_ssl = true
name = "ros"

[packages]
arrow = "*"
requests = "*"
typing_extensions = "*"

[dev-packages]
black = "*"
build = "*"
faker = "*"
flake8 = "*"
mcap = "==0.0.15"
mcap-ros1-support = "==0.4.0"
mcap-protobuf-support = "==0.0.8"
mcap-ros2-support = "==0.1.0"
pyright = "*"
pytest = "*"
responses = "*"
rosbag = {version="*", index="ros"}
std_msgs = {version="*", index="ros"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
